.forgotPageParent {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.forgotPageParent .forgot_leftZone {
    display: flex;
    justify-content: center;
    flex: 1;
}

.forgotPageParent .forgot_leftZone img {
    width: 70%;
    object-fit: contain;
    object-position: center;
}

.forgotPageParent .forgot_righZone {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    padding: 50px;
}

.forgotPageParent .forgot_righZone h1 {
    margin-bottom: 10px;
    max-width: 170px;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 400;
    line-height: 68px;
}

.forgotPageParent .forgot_righZone p {
    margin-bottom: 40px;
    font-size: 16px;
}

.forgotPageParent .forgot_righZone form {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    /* box shadow reference from https://getcssscan.com/css-box-shadow-examples   shadow No. 22*/
    border-radius: 10px;
    padding: 30px;
}

.forgotPageParent .forgot_righZone form .input_parent {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.forgotPageParent .forgot_righZone form .input_parent label {
    display: block;
    margin-bottom: 10px;
}

.forgotPageParent .forgot_righZone form .input_parent input {
    width: 100%;
    padding: 10px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding-right: 40px;
}

.forgotPageParent .forgot_righZone .submit_parent {
    text-align: left;
}

.forgotPageParent .forgot_righZone .submit_parent button {
    padding: 10px 20px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.forgotPageParent .forgot_righZone .submit_parent button:hover {
    background-color: var(--primaryDark-color);
}

.forgotPageParent .forgot_righZone .input_parent .input_eye {
    display: flex;
    align-items: center;
    position: relative;
}

.forgotPageParent .forgot_righZone .input_parent .input_eye .fontIcon {
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    right: 0px;
    cursor: pointer;
}


@media (max-width: 768px) {}

@media (max-width: 480px) {
    .forgotPageParent {
        flex-direction: column;
    }

    .forgotPageParent .forgot_righZone h1 {
        max-width: 100%;
    }

    .forgotPageParent .forgot_righZone {
        padding: 50px 20px;
    }
}