@media only screen and (max-width: 600px) {
    .jobDescriptionParent .banner_section .description_flex {
        flex-direction: column;
    }
    .jobDescriptionParent .banner_section .companyHead{
        flex-direction: column;
    }
    .jobDescriptionParent .banner_section .companyHead h1{
        margin-bottom: 30px;
    }
    .jobDescriptionParent .banner_section{
        padding-top: 140px!important;
    }
    .jobDescriptionParent .jobDetailSection .description_flex{
        flex-direction: column;
        align-items: flex-start!important;
    }
}