.jobDescriptionParent .description_apply {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
}

.jobDescriptionParent .banner_section .description_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jobDescriptionParent .description_apply:hover {
    background-color: var(--secondaryDark-color);
}

.jobDescriptionParent .banner_section {
    background: linear-gradient(269deg, #626262 0%, #000000 100%);
    padding: 80px 0;
    margin-top: 70px;
}

.jobDescriptionParent .banner_section h1 {
    font-size: 48px;
    color: white;
}

.jobDescriptionParent .banner_section .companyHead {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.jobDescriptionParent .banner_section .jobLocation {
    color: #fff;
    opacity: 0.7;
}
.jobDescriptionParent .banner_section .iconLoc{
    margin-right: 5px;
}

.jobDescriptionParent .banner_section .companyHead img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.jobDescriptionParent .jobDetailSection {
    margin-top: 50px;
}

.jobDescriptionParent .jobDetailSection .job_typeCat {
    margin-top: 30px;
}

.jobDescriptionParent .jobDetailSection .description_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jobDescriptionParent .jobDetailSection .description_flex .job_type {
    padding: 8px 20px;
    background-color: var(--primary-color);
    font-size: 16px;
}

.jobDescriptionParent .jobDetailSection h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.jobDescriptionParent .jobDetailSection h3,
p {
    margin-bottom: 5px;
}

.jobDetailSection .skillSet .skilss_container {
    display: flex;
    gap: 20px;
}

.jobDetailSection .skillSet {
    margin-top: 30px;
}

.jobDetailSection .skillSet h4 {
    margin-bottom: 10px;
}

.jobDetailSection .skillSet .skilss_container .skill_tags {
    background: #fff;
    border-radius: 100px;
    padding: 8px 20px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.heading_jobDesc {
    margin-bottom: 10px;
    font-size: 18px;
}

.jobDescriptionParent .jobDetailSection .job_description {
    margin-top: 30px;
}

.jobDescriptionParent .jobDetailSection .language_prnt {
    display: flex;
    gap: 20px;
}

.jobDescriptionParent .jobDetailSection .Language_required {
    margin-bottom: 40px;
    margin-top: 30px;
}

.jobDescriptionParent .jobDetailSection .Language_required .lan_re {
    background: #fff;
    border-radius: 100px;
    padding: 8px 20px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


@media (max-width: 480px) {
    .jobDescriptionParent .banner_section {
        padding: 40px 0;
    }

    .jobDescriptionParent .banner_section .companyHead h1 {
        font-size: 24px;
    }
    .jobDescriptionParent .jobDetailSection h2{
        font-size: 20px;
    }
    .jobDescriptionParent .jobDetailSection .description_flex h3{
        font-size: 16px;
    }
    .heading_jobDesc{
        font-size: 16px;
    }
}
